.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--main-radius);;

  background-color: transparent;
  transition: opacity .218s linear;

  max-width: max-content;
  max-height: max-content;
  width: auto;
  height: auto;
  min-width: min-content;
  min-height: min-content;

  .Icon {
    overflow: inherit;
    margin: .25em;
  }

}


button.Btn {
  opacity: .75;
  cursor: pointer;

  .text {
    margin-right: .5em;
  }

  &:hover {
    opacity: 1;
    background-color: var(--hover-color);
  }
}

span.Btn {
  opacity: .85;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: var(--hover-color);
  }
}


div.Btn {
  opacity: .95;
  cursor: initial;

  &:hover {
    opacity: 1;
  }
}

.Btn.embedded {
  position: absolute;

  .Icon {
    fill: var(--menu-background);
  }

  &:hover {
    background-color: transparent;
  }
}

.Btn.transparent {
  background-color: transparent;
  opacity: .65;
  &:hover {
    opacity: 1;
    background-color: transparent;
  }
}

.Btn {
  &.lg {
    .Icon {
      width: 2em;
      height: 2em;
    }

    .text {
      font-size: 1.15em;
    }
  }

  &.md {
    .Icon {
      width: 1.25em;
      height: 1.25em;
    }
  }

  &.sm {
    .Icon {
      width: 1.15em;
      height: 1.15em;
    }
  }
}

.Btn.brand {
  background-color: var(--noteep-brand);
  color: #d3d3d3;
  opacity: .75;

  .text {
    opacity: 1;
    margin: .35em .75em;
  }

  &:hover {
    background-color: var(--noteep-brand);

  }
}
