.page_container {
  position: relative;
  padding: 1rem var(--border-edge);
  max-width: 50%;
  margin: auto;

  @media only screen and (max-width: 1366px){
    max-width: 65%;

    @media only screen and (max-width: 768px){
      max-width: 85%;
      @media only screen and (max-width: 560px){
        max-width: 100%;
      }
    }
  }
}


[data-view-mode="tiles"] {
  max-width: 95%;
  align-items: center;
  .post_new_note {
    width: 50%;
    margin: auto;
  }

  .posts_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .post_preview {
      margin: var(--h-spacing);
      flex: 1;
      min-width: 29%;
      min-height: 13em;
      height: fit-content;
      max-width: 29%;
    }
  }
}

.posts_wrapper {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin: 2em 0;
}

.page_block {
  position: relative;
  background: var(--box-container);
  border-radius: var(--main-radius);
  box-shadow: var(--box-shadow);
}
