.Main {
  position: relative;
  z-index: 2;
  margin-left: var(--sidebar-width);
  margin-top: var(--top-height);
  height: 100%;
  overflow-y: scroll;

  @media only screen and (max-width: 768px){
    margin-left: 3rem;
  }
}
