html.dark {
  --box-foreground: #313131;
  --box-border: #343434;
  --background: #251f1f;
  --action: #b79b9b;
  --selected: #f9f6f6;
  --border: rgba(65, 131, 196, .3);
  --hover-bg: rgba(166, 166, 166, 0.15); //  #3e5d48
  --box-container: #292727;

  --box-shadow: 0 1px 0 0 rgb(76 73 73 / 65%),
                0 0 0 1px rgb(56 47 47 / 75%);

  --header-shadow: 0 1px 0 0 rgb(52 52 52 / 95%),
                   0 0 0 1px rgba(52 52 52 / 75%);


  --main-color: #1E88E5; // #3a803d;
  --active-color: #1976D2; // #386f37

  // Preview renders
  --e-plant: #d2d2d2;
  --e-header: #dadada;
  --e-pre-bg: rgb(103 103 103 / 0.25);
  --e-code: rgb(80 80 80 / 48%);

  --scrollbar-color: #313131;
  --scrollbar-over-color: #363636;

  --clr-mu-header: #dadada;
  --clr-mu-default: rgba(214,214,214, 0.86);
  --clr-mu-semi: #cecece;
  --clr-mu-action: #1E88E5;
}
