body.light {
  --noteep-background: #1e1e1e;
  --noteep-foreground: #d4d4d4;

  --placeholder-foreground: #a6a6a6;

  --menu-background: #252526;
  --menu-foreground: #cccccc;

  --sidebar-title-foreground: #bbbbbb;
}
