html.light {
  --box-foreground: #fafbfc;
  --box-border: #e7e8ec;
  --background: #edeef0;
  --action: rgb(80 72 72 / 84%);
  --selected: rgb(0 0 0 / 90%);
  --border: rgba(65, 131, 196, .3);
  --hover-bg: rgba(166, 166, 166, 0.15);
  --box-container: #fff;

  --box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  --header-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

  --main-color: #1E88E5;
  --active-color: #2196f3;

  // Preview renders
  --e-plant: #424242;
  --e-header: #2b2b2b;
  --e-pre-bg: rgb(241 243 247);
  --e-code: rgb(223 242 251 / 30%);

  --scrollbar-color: #bfbfbf;
  --scrollbar-over-color: #a7a7a7;


  --clr-mu-header: #222;
  --clr-mu-default: rgba(0,0,0,0.86);
  --clr-mu-semi: #655959;
  --clr-mu-action: #1E88E5;
}
