/* COLORS */

  $noteep-bg-color: var(--noteep-background);
  $noteep-color: var(--noteep-foreground);

  $placeholder-color: var(--placeholder-foreground);

  $menu-bg-color: var(--menu-background);
  $menu-color: var(--menu-foreground);
