@import '~@csstools/normalize.css';

@import "themes";
@import "overrides";

.trim-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rotate-spinner {
  animation: spin .6s linear infinite;
}

.rotate:hover {
  svg {
    animation: spin .6s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

