@import '~@csstools/normalize.css';

@import "themes";
@import "mixins";
@import "reset";  // restyling of native elements

@import "app/index";

.trim-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*
 app >
  top bar >
    header >
      nav-ctrl >
      search-bar >
      ctrl-bar >
  side-bar >
    menu >
      top-nav >
      label-nav >
      bottom-nav >
  content >
    make_noteep >
    workspace >
    empty-content-card >


  footer >

*/

/*
    noteep-viewer >
      note-view
      article-view

    noteep-editor >
      note-editor
      article-editor

     noteep-resources >
       link
       image
       ?slider
       ?comments

      dynamical-tooltip >

      label-manger >

      svg-icon-provider >


*/
