/** App Root **/

#root {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  transition: opacity .2s;
  box-sizing: border-box;

  header {
    box-sizing: border-box;
  }

  aside {
    box-sizing: border-box;
  }

  main {
    box-sizing: border-box;
  }
}
