aside.Menu {
  position: relative;

  .wrapper {
    background-color: var(--noteep-background);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 0;
    height: 100%;
  }

  nav {
    flex: auto;
    margin: .15em 0;
  }

  footer {
    flex: 0 0 auto;
  }

  nav, footer {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 2em;

      border-bottom-right-radius: var(--main-radius);
      border-top-right-radius: var(--main-radius);
      transition-duration: 250ms;
      transition-property: width, box-shadowm, opacity;
      transition-timing-function: linear;
      margin: .15em 0;

      .icon-btn {
        padding: 0 1em;

        svg {
          width: 1.5em;
          height: 1.5em;
          flex-shrink: 0;
        }
      }

      .text {
        width: 10em;
        opacity: 1;
        overflow: visible;
        transition-duration: 150ms;
        transition-property: width, box-shadowm, opacity;
      }


      &:hover {
        background-color: var(--hover-color);
      }

      &.active {
        background-color: var(--active-color);
      }
    }
  }


}

aside.Menu.collapsed {

  .wrapper {
    z-index: 4;
    position: absolute;
  }

  &:not(:hover) {
    nav, footer {
      .item {
        margin: .15em 1em;
        border-radius: var(--main-radius);

        .icon-btn {
          padding: 0 0;
        }

        .text {
          width: 0;
          opacity: 0;
          overflow: hidden;
        }
      }
    }
  }

  &:hover {
    .wrapper {
      //box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.05),
      //0 11px 18px 0 rgba(0, 0, 0, 0.03),
      //0 13px 5px -1px rgba(0, 0, 0, 0.01);
    }
  }
}


