aside.Menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 0;
  min-width: var(--sidebar-width);
  margin-top: var(--top-height);
  top: 0;
  bottom: 0;
  z-index: 4;

  nav {
    flex: auto;
    padding-top: 1em;
  }

  footer {
    flex: 0 0 auto;
  }

  nav, footer {
    display: flex;
    flex-direction: column;
    width: auto;

    .item {
      border-radius: 0 var(--main-radius) var(--main-radius) 0;
      transition-duration: 650ms;
      transition-property: width, box-shadowm, opacity;
      transition-timing-function: linear;
      margin: 0;
      width: inherit;
      min-width: 100%;
      justify-content: flex-start;

      .Icon {
        padding: 0 var(--border-edge);
      }

      .text {
        //width: auto;
        transition-duration: 250ms;
        transition-property: width, box-shadowm, opacity;
      }


      &:hover {
        background-color: var(--hover-bg);
        opacity: .9;
      }

      &.selected {
        background-color: var(--active-color);
      }
    }
  }
}

aside.Menu.collapsed {


  &:not(:hover) {
    nav, footer {
      .item {
        margin: 0 .5em;
        border-radius: 50%;
        min-width: auto;

        .Icon {
          padding: 0 0;
        }

        .text {
          width: 0;
          opacity: 0;
          overflow: hidden;
        }
      }
    }
  }
}


