.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $noteep-radius;
  cursor: pointer;

  background-color: transparent;
  transition: opacity .218s linear;
}

button.icon-btn {
  @extend .btn;

  width: 2.5em;
  height: 2.5em;
  opacity: .5;

  &:hover {
    opacity: .9;
    background-color: $hover-color;
  }
}

span.icon-btn {
  @extend .btn;

  width: 2em;
  height: 2em;

  &:hover {
    //opacity: .9;
    //background-color: rgba(154, 160, 166, 0.157);
  }
}

a.icon-btn {
  @extend .btn;
  width: 2em;
  height: 2em;
  opacity: .5;

  &:hover {
    opacity: .9;
    background-color: $hover-color;
  }
}


.embedded-btn {
  @extend .icon-btn;
  position: absolute;
  padding: 0 .15em;

  svg {
    fill: var(--menu-background);
    width: 1.25em;
    height: 1.25em;
  }
}

.btn-row {
  @extend .icon-btn;
  width: fit-content !important;
  padding: 0 .25em;

  .wrapper {
    display: flex;
    align-items: center;
    margin: 0.5em .25em;

    svg {
      width: 1.5em;
      height: 1.5em;
      margin-right: .25em;
    }
  }

}
