@import "note";
@import "button";
@import "top-bar";
@import "sidebar";
@import "icons";

/* App root */
#noteep {
  display: grid;
  grid: 'header header' auto
        'aside main' 1fr
        / auto 1fr;

  height: 100vh;

  .inline-wrapper {
    display: flex;
    align-items: center;

    & > *{
      margin-right: .25em;
    }

  }

  main {
    grid-area: main;
    //background-color: $menu-bg-color;
    overflow-x: hidden;
    overflow-y: auto;
  }


}
