@import "note";
@import "button";
@import "top-bar";
@import "icons";

/* App root */
#noteep {
  display: grid;
  grid: 'header header' auto
        'aside main' 1fr
        / 15em 1fr;

  grid-gap: 10px;
  height: 100vh;


  aside {
    grid-area: aside;
    background-color: $menu-bg-color;

    nav {
    }

    footer {
    }
  }

  main {
    grid-area: main;
    background-color: $menu-color;
    overflow-x: hidden;
    overflow-y: auto;
  }


}
