header {
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  position: fixed;
  height: var(--top-height);
  z-index: 12;
  background-color: var(--box-foreground);
  box-shadow: var(--header-shadow);

  .TopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    height: inherit;
    position: relative;
    margin: 0 auto;

    :first-child {
      flex: auto;
    }

    :last-child {
      flex: 0 0 auto;
    }

    .wrapper {
      padding: 0 var(--border-edge);
      display: flex;
      align-items: center;

      & > button.Btn {
        &:hover {
          background-color: var(--hover-bg);
        }
      }
    }

    .Brand {
      margin: 0 2em 0 .65em;
    }

    /* Search */
    .Search {
      display: flex;
      align-items: center;
      position: relative;

      .Btn {
        position: absolute;
      }

      button.Btn {
        right: 3px;
      }

      span.Btn {
        cursor: initial;
        left: 3px;

        .Icon {
          fill: var(--selected);
          opacity: .35;
        }
      }

      input {
        padding: .25em 2em;
        background-color: var(--background);
        border-radius: var(--ellipsis-radius);
      }

      &.selected {
        .Btn .Icon {
          opacity: .5;
        }
      }

      &.mark {
        .Btn .Icon {
          opacity: 1;
        }
      }
    }

    .Profile {
      margin-left: 1em !important;
      margin-right: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      width: 1.75em;
      height: 1.75em;
      border-radius: 50%;
      background-color: var(--main-color);
      color: var(--selected);

      &:hover {
        background-color: var(--active-color);
      }
    }

  }

}
