header.TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: .5em 1em;

  .wrapper {
    display: flex;
    align-items: center;

    & > *{
      margin-right: .25em;
    }
  }

  .Brand {
    display: flex;
    align-items: center;
    margin-left: .5em;
    margin-right: 1em !important;
    width: 10em;

    .icon-btn {
      svg {
        fill: var(--noteep-brand-light);
        width: 2em;
        height: 2em;
      }
    }

    .title {
      margin-left: .5em;
      font-size: 1.25em;
    }
  }

  .Search {
    display: flex;
    align-items: center;
    position: relative;

    input {
      height: 1.75em;
      padding: 0 2.5em;
      background-color: var(--placeholder-foreground);
      transition: background-color .218s linear;
      &:focus {
        background-color: var(--menu-foreground);
      }
    }

    &:focus, &:hover {
      input {
        background-color: var(--menu-foreground);
      }
    }

  }

  .Profile {
    margin-left: 1em !important;
    margin-right: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
    background-color: var(--noteep-foreground);
    color: var(--noteep-brand);
  }

}
